.service-card {
	border-bottom: 1.25px solid var(--primary);
	border-right: 1.25px solid var(--primary);
	display: flex;
	margin-top: 1.8rem;
}

.icon-container {
	display: flex;
	align-items: center;
}

.icon-box {
	height: 50px;
	width: 50px;
	background: var(--primary);
	border-radius: 100%;
	border: 1.5px solid var(--primary);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--white);
	transition: background 200ms ease-out, color 200ms ease-out;
}

.icon-box:hover {
	color: var(--primary);
	background: transparent;
}

.text-container {
	padding-left: 1.25rem;
	padding-right: 0.5rem;
}
@media all and (max-width: 768px) {
	.service-title {
		font-size: 1.3rem;
	}
}
