#services {
	background: var(--white);
	padding-top: 4.5rem;
	margin-bottom: 3rem;
}

.services-container {
	margin-top: 1.5rem;
}

.main-title {
	text-align: center;
	text-transform: uppercase;
	color: var(--primary);
	letter-spacing: 1.2px;
}
