.process-card {
	width: 100%;
}

.process-img-container img {
	max-width: 100%;
	height: auto;
}

.process-text-container {
	background: var(--white);
	color: var(--primary);
	border-left: 2px solid var(--primary);
	border-bottom: 2px solid var(--primary);
	border-right: 2px solid var(--primary);
	padding: 0.8rem 1.25rem 1.25rem;
	margin-bottom: 1.5rem;
}

.process-title {
	font-size: 1.45rem;
}

.process-body {
	/* letter-spacing: 0.5px; */
}

@media all and (max-width: 993px) {
}
