#process {
	margin-top: 4.5rem;
	margin-bottom: 3rem;
	background: var(--white);
}

.process-container {
	margin-top: 3rem;
}

.main-title {
	text-align: center;
	text-transform: uppercase;
	color: var(--primary);
}
