.band-card {
	color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

.band-icon {
	height: 90px;
	width: 90px;
	background: var(--primary);
	border-radius: 100%;
	border: 1.5px solid var(--primary);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	transition: background 200ms ease-out, color 200ms ease-out;
}

.band-icon:hover {
	background: transparent;
}

.band-title {
	font-size: 1.2rem;
}

@media all and (max-width: 768px) {
	.band-card {
		margin-top: 2.5rem;
	}
}
