.head {
	margin-top: 60px;
	height: 60vh;
	margin-bottom: 1.5rem;
}

#features .head {
	background: url('/images/7.jpg') center center no-repeat;
	background-size: cover;
}

#about .head {
	background: url('/images/8.jpg') center center no-repeat;
	background-size: cover;
}

#blog .head {
	background: url('/images/9.jpg') center center no-repeat;
	background-size: cover;
}

.head-overlay {
	height: 100%;
	width: 100%;
	background: var(--light-transparent-primary);
	display: flex;
	justify-content: center;
	align-items: center;
}

.head-title {
	font-size: 4rem;
	color: var(--white);
	text-transform: uppercase;
}

.page-content {
	margin-bottom: 3rem;
}

.img-404-container {
	margin-top: 60px;
	height: 85vh;
	background: url('/images/404.png') center center no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}

.img-404-container h2 {
	color: var(--white);
	margin-top: 5rem;
	font-size: 3rem;
}

.not-found-overlay {
	height: 100%;
	width: 100%;
	background: var(--light-black);
}

@media all and (max-width: 768px) {
	.head {
		margin-top: 45px;
		height: 50vh;
	}

	.head-title {
		font-size: 2.5rem;
	}

	.img-404-container {
		margin-top: 45px;
		height: 50vh;
	}

	.img-404-container h2 {
		color: var(--white);
		margin-top: 2.5rem;
		font-size: 1.5rem;
	}
}
