#sign-in {
	margin-top: 60px;
	height: 80vh;
	display: flex;
	align-items: center;
}

.sign-in-img {
	height: 100%;
	display: flex;
	align-items: center;
}

.sign-in-form h2 {
	margin-bottom: 2.5rem !important;
	text-align: center;
	color: var(--black);
}

.btn-primary {
	margin-top: 2rem;
	background: var(--primary);
	border: 2px solid var(--primary);
}

.btn-primary:hover {
	color: var(--primary);
	background: transparent;
	border: 2px solid var(--primary);
}

@media all and (max-width: 992px) {
	form {
		text-align: left;
	}

	/* .sign-in-form {
		width: 80%;
		margin: auto 0;
    } */

	.form-group {
		margin-bottom: 0.5rem;
	}

	.btn-primary {
		margin-top: 1.5rem;
	}
}

@media all and (max-width: 768px) {
	#sign-in {
		margin-top: 60px;
		height: auto;
	}

	.sign-in-form {
		margin-bottom: 3rem !important;
	}

	.sign-in-form h2 {
		margin-top: 2.5rem;
		margin-bottom: 2rem;
	}

	.form-group {
		margin-bottom: 1rem;
	}

	.btn-primary {
		margin-top: 2rem;
	}
}
