.navbar {
	background: var(--primary);
	padding: 10px 0;
}

.navbar-content {
	display: flex;
}

.navbar .logo-container {
	display: flex;
	align-items: center;
}

.navbar a img {
	height: 25px;
}

.navbar .menu-icon {
	display: none;
}

.nav {
	margin-right: 50px;
}

.nav-item {
	background: transparent;
	transition: background 200ms ease-out;
}
.nav-link {
	text-decoration: none;
	color: var(--white);
	font-size: 17px;
	margin-left: 5px;
	margin-right: 5px;
}

.nav-link:hover,
.nav-link.active {
	background: var(--light-primary);
	color: var(--white);
}

.nav-link-mobile {
	display: none;
}

@media all and (max-width: 768px) {
	.navbar-content {
		display: flex;
		justify-content: space-between;
		position: relative;
	}

	.navbar .menu-icon {
		display: block;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.menu-icon .fas {
		font-size: 20px;
	}

	.navbar-nav {
		padding-bottom: 1.5px;
		background: var(--primary);
		width: 100%;
		position: absolute;
		top: 36.5px;
		left: -1000px;
		z-index: 999;
		flex-direction: column !important;
		opacity: 0;
		transition: left ease-out 550ms, opacity ease-out 200ms;
	}

	.navbar-nav.active {
		position: absolute;
		top: 36.5px;
		left: 0;
		opacity: 1;
		transition: left ease-out 400ms, opacity ease-out 400ms;
	}

	.nav-link {
		text-align: center;
	}

	.nav-link-mobile {
		display: block;
		text-align: center;
		background: var(--white);
		color: var(--primary);
		border: 2px solid var(--white);
		transition: background 200ms ease-out, color 200ms ease-out;
		padding: 8px 0;
		margin: 20px;
	}

	.nav-link-mobile:hover {
		text-decoration: none;
		background: var(--primary);
		color: var(--white);
	}
}
