.btn {
	border-radius: 0;
}

.btn__primary {
	background: var(--primary);
	color: var(--white);
	padding: 0.5rem 2.5rem;
	font-size: 19px;
	border: 2px solid var(--primary);
	transition: background 200ms ease-out, color 200ms ease-out;
	text-transform: uppercase;
}

.btn__primary:hover {
	background: transparent;
	color: var(--primary);
}

.btn__important {
	background: var(--primary);
	color: var(--white);
	border: 2.5px solid var(--white);
	padding: 0.7rem 3.5rem;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	transition: background 200ms ease-out;
}

.btn__important:hover {
	background: transparent;
	color: var(--white);
}

.btn__secondary {
	background: var(--white);
	color: var(--primary);
	border: 2px solid var(--white);
	transition: background 200ms ease-out, color 200ms ease-out;
}

.btn__secondary:hover {
	background: var(--primary);
	color: var(--white);
}

.btn__small {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

@media all and (max-width: 992px) {
	.btn__important {
		padding: 0.5rem 2rem;
		font-size: 20px;
	}

	.btn__secondary {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}
}

@media all and (max-width: 768px) {
	.btn__secondary {
		display: none;
	}
}
