footer {
	background: var(--black);
	padding-top: 3.5rem;
	padding-bottom: 1rem;
}

.footer-box {
	color: var(--white);
}

.footer-box .footer-text {
	margin-top: 1rem;
	font-weight: lighter;
	text-align: center;
}

.form-group input {
	border-radius: 0;
}

form .btn__default {
	background: var(--primary);
	color: var(--white);
	border: 2px solid var(--primary);
	margin-top: 0.5rem;
	padding-top: 0.15rem !important;
}

form .btn__default:hover {
	color: var(--white);
	background: transparent;
}

.footer-contact {
	display: flex;
	margin-bottom: 2.5rem;
}

.icon-box-footer {
	margin-right: 1rem;
	height: 50px;
	width: 50px;
	background: var(--primary);
	border-radius: 100%;
	border: 1.5px solid var(--primary);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--white);
	transition: background 200ms ease-out, color 200ms ease-out;
}

.icon-box-footer:hover {
	color: var(--primary);
	background: transparent;
}

.footer-copyright {
	margin-top: 2.5rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright {
	color: var(--white);
}

.footer-logo {
	width: 25%;
}

@media all and (max-width: 992px) {
	.footer-box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer-box .footer-text {
		width: 50%;
	}

	.icon-box-footer {
		margin-left: 1.25rem;
		margin-right: 1.25rem;
	}

	.footer-box form {
		text-align: center;
	}

	form .btn__default {
		margin-top: 1.5rem;
	}

	.footer-title {
		margin-top: 2rem;
	}
}

@media all and (max-width: 768px) {
	.footer-box .footer-text {
		width: 80%;
	}

	.footer-copyright {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.copyright {
		font-size: 0.8rem;
		margin-bottom: 0.5rem;
	}
	.footer-logo {
		width: 45%;
	}
}

@media all and (max-width: 425px) {
	.footer-logo {
		width: 60%;
	}
}
