#hero {
	background: var(--black);
	color: var(--white);
	margin-top: 60px;
	/* TODO: Refact on mobile device */
	height: 90.5vh;
	display: flex;
	align-items: center;
	overflow-x: hidden;
}

.hero-img-container {
	height: 100%;
}

.img-dynamo img {
	width: 100%;
}

.img-shadow {
	text-align: center;
}

@keyframes flow {
	30%,
	50% {
		transform: translateY(-40px);
	}

	50%,
	70% {
		transform: translateY(-10px);
	}

	70%,
	85% {
		transform: translateY(-20px);
	}

	85%,
	100% {
		transform: translateY(0px);
	}
}

.flow {
	animation: flow 3s infinite;
}

.hero-text-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 100%;
	gap: 2rem;
}

.hero-lead {
	text-transform: uppercase;
	font-size: 3.9rem;
	font-weight: 600;
}

.hero-slogan {
	width: 80%;
	text-align: right;
	font-size: 1.4rem;
	font-weight: lighter;
	letter-spacing: 1.3px;
}

@media all and (max-width: 1200px) {
	.hero-lead {
		font-size: 3.4rem;
	}

	.hero-slogan {
		font-size: 1.2rem;
	}
}

@media all and (max-width: 993px) {
	.hero-lead {
		font-size: 2.5rem;
	}

	.hero-slogan {
		width: 95%;
		font-size: 1rem;
	}
}

@media all and (max-width: 885px) {
	.hero-text-container {
		gap: 1.5rem;
	}
}

@media all and (max-width: 768px) {
	#hero {
		margin-top: 45px;
		height: auto;
	}

	.hero-img-container {
		/* border: 1px solid var(--white); */
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 2rem;
		margin-bottom: 1.5rem;
	}

	.img-shadow {
		text-align: center;
	}

	.flow {
		animation: flow 0s infinite;
	}

	.hero-text-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: auto;
		margin-top: 1.5rem;
		margin-bottom: 3rem;
	}

	.hero-lead {
		font-size: 3rem;
		text-align: center;
	}

	.hero-slogan {
		width: 90%;
		text-align: center;
		font-size: 1.2rem;
		letter-spacing: 1.2px;
	}
}
