#show-more {
	background: var(--white);
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.show-more-text-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 1.2rem;
}

.show-more-title {
	font-size: 2.4rem;
	text-transform: uppercase;
}

.show-more-body {
	width: 80%;
	font-size: 1.2rem;
}

.show-more-img-container {
	height: 100%;
	text-align: right;
}

.show-more-img-container img {
	width: 95%;
}

@media all and (max-width: 993px) {
	.show-more-text-container {
		gap: 1.1rem;
	}

	.show-more-title {
		font-size: 1.8rem;
	}

	.show-more-img-container img {
		width: 100%;
	}
}

@media all and (max-width: 768px) {
	.show-more-text-container {
		margin-top: 1.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.2rem;
	}

	.show-more-title {
		text-align: center;
	}

	.show-more-body {
		text-align: center;
	}
}
