:root {
	--primary: #db5011;
	--light-primary: #fa7b3f;
	--light-transparent-primary: #db51117b;
	--black: #272323;
	--light-black: #2723238d;
	--white: #ffffff;
}

.wrapper {
	width: 100%;
	padding-right: 2.5rem;
	padding-left: 2.5rem;
	margin-right: auto;
	margin-left: auto;
}

@media all and (max-width: 1200px) {
	.wrapper {
		width: 100%;
		padding-right: 2rem;
		padding-left: 2rem;
		margin-right: auto;
		margin-left: auto;
	}
}

@media all and (max-width: 992px) {
	.wrapper {
		width: 100%;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
		margin-right: auto;
		margin-left: auto;
	}
}

@media all and (max-width: 768px) {
	.wrapper {
		width: 100%;
		padding-right: 0.5rem;
		padding-left: 0.5rem;
		margin-right: auto;
		margin-left: auto;
	}
}

.head-wrapper {
	width: 90%;
	max-width: 1182px;
	margin: auto;
}

/* .hero-wrapper {
	width: 90%;
	max-width: 1025px;
	margin: auto;
} */

.main-wrapper {
	width: 80%;
	max-width: 990px;
	margin: auto;
}
